body {
    background-color: rgb(241, 239, 239);
    font-family: VT323, 'Courier New',monospace;
    color: #252525;
    font-size: 24px;
}

.desc {
    text-align: center;
}

hr{
    border-style: none;
    border-top: dashed;
    border-width: 0.2em;
    width: 85%;
}

img {
    width: 250px;
    height: auto;
}

.imag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ul, ol {
    margin-left: 1%;
}