body {
    background-color: #D4ECDD;
    font-family: monospace;
    color: #345B63;
    font-size: 16px;
}

hr{
    border-style: none;
    border-top: dashed;
}

img {
    width: 250px;
    height: auto;
}